/card game/.plastic/
/card game/.vs/card game/FileContentIndex
/card game/.vs/card game/FileContentIndex
/card game/Library
/card game/ProjectSettings
/card game/UserSettings
/card game/Temp
/card game/Logs
/card game/ProjectSettings/
/card game/ProjectSettings/boot.config
/card game/.plastic/plastic.changes
/card game/Packages/
